import(Matrix) # needed?
importFrom(mpt, mpt)
importFrom(lme4, glmer)

exportPattern("^[^\\.]")

S3method(print, fit.bivar)

S3method(summary, fit.bivar)

S3method(print, imperfect.trees)

S3method(print, perfect.trees)
